body{
    margin: 0;

}
header {
    height: 44px;
    padding: 1px 1px;
    background-color: #606060;
}

.header-home-item {
	margin-left: 13px;
	height: 0px;
	width: 0px;
}

.home-img {
	width: 28px;
	height: 28px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 7px;
	padding-left: 7px;
}

.div-move {
    margin: 0 auto;
}

.header-login {

}

.header-register {

}

.login-item-box {
	float: right;
}

.login-item-box-left {
    margin-left: 60px;
    float: left;
}


.login-item-1 {
    position: absolute;
    color: #dddddd;
    margin: 5px;
}

.login-item-login {
	width: 55px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 30px;
	border-right: thin solid rgba(166,166,166,1.00);
	border-left: thin solid rgba(166,166,166,1.00);
	padding-right: 0px;
	color: rgba(255,255,255,1.00);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.item-site-name {
	width: auto;
	text-align: center;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	font-family: sans-serif;
	color: #FFFFFF;
	font-size: large;
	font-weight: bolder;
	font-variant: small-caps;
	padding-top: 8px;
	height: 25px;
	top: 7px;
}

.login-item-reg {
	width: 55px;
	height: 30px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 0px;
}

.color-mouse:hover {
	background-color: #505050;
	border-radius: 4px;
}

.Picsize {
	width: 45px;
	height: 30px;
	top: 0px;
	text-decoration: none;
}

.login-item-reg-plus {
	width: 10em;
	height: 32px;
	text-align: center;
	margin-top: 7px;
	color: rgba(255,255,255,1.00);
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-variant: small-caps;
	font-weight: normal;
	font-size: 17px;
}


.header-box {
	position: fixed;
	width: 100%;
	top: 0px;
}

.main-corrector {
	
	margin-top: 50px;
}
