body{
	
}
header {
    height: 44px;
    padding: 1px 1px;
    background-color: #606060;
}

.header-home-item {
	margin-left: 13px;
	height: 0px;
	width: 0px;
	margin-bottom: 10px;
}

.home-img {

	width: 40px;
	height: 40px;
	position: absolute;

}

.div-move {
    margin: 0 auto;
}

.header-login {

}

.header-register {

}

.login-item-box {
	float: right;
}

.login-item-box-left {
	margin-left: 60px;
	float: left;
	clear: left;
	margin-bottom: 10px;
}


.login-item-1 {
    position: absolute;
    color: #dddddd;
    margin: 5px;
}

.login-item-login {
	width: 55px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 30px;
	border-right: thin solid rgba(166,166,166,1.00);
	border-left: thin solid rgba(166,166,166,1.00);
	padding-right: 0px;
	color: rgba(255,255,255,1.00);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.item-site-name {
	width: auto;
	text-align: center;
	font-family: sans-serif;
	color: #FFFFFF;
	font-size: large;
	font-weight: bolder;
	font-variant: small-caps;
	height: 25px;
	top: 7px;
	position: absolute;
}

.login-item-reg {
	width: 55px;
	height: 30px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 0px;
}

.color-mouse:hover {
	background-color: #505050;
	border-radius: 4px;
}

.Picsize {
	width: 45px;
	height: 30px;
	top: 0px;
	text-decoration: none;
}

.login-item-reg-plus {
	width: 10em;
	height: 32px;
	text-align: center;
	margin-top: 7px;
	color: rgba(255,255,255,1.00);
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-variant: small-caps;
	font-weight: normal;
	font-size: 17px;
}


.header-box {
	position: relative;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 50px;
	margin: 0;
}

body{
	margin: 0;
}

.main-corrector {
	margin-top: 40px;
}

#id-name {
	text-decoration: none;
	color: rgba(255,255,255,1.00);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
}

#new-blog {
	margin-top: 126px;
}

#back {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: -webkit-linear-gradient(270deg,rgba(71,70,70,1.00) 0%,rgba(45,45,45,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(71,70,70,1.00) 0%,rgba(45,45,45,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(71,70,70,1.00) 0%,rgba(45,45,45,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(71,70,70,1.00) 0%,rgba(45,45,45,1.00) 100%);
	border-top-right-radius: 0px;
}

#News-new {
	margin-top: 70px;
	float: left;
	padding-left: 10%;
}

.title-name {
	color: rgba(255,255,255,1.00);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-variant: normal;
	font-size: x-large;
	font-weight: bold;
	margin-bottom: 38px;
}

iframe {
	width: 500px;
	height: 600px;
}

.aricle {
	background-color: rgba(255,255,255,1.00);
	background-repeat: no-repeat;
	background-size: 27px 36px;
	background-clip: content-box;
}

.article-name {
	color: rgba(255,255,255,1.00);
	font-weight: 300;
	font-size: large;
	font-family: arial;
	font-variant: small-caps;
	text-decoration: none;
	text-align: center;
	margin-top: 4px;
}

.hiper-links {
	text-decoration: none;
	color: rgba(255,255,255,1.00);
	
}

.article-box {
	width: 364px;
	margin-right: 35px;
	margin-bottom: 35px;
	height: 320px;
	float: left;
	clear: none;
}

.pic-article {
	width: 360px;
	height: 240px;
	border-radius: 2px;
}

footer {
	background-color: #606060;
	height: 81px;
	width: 100%;
	clear: both;
	background-size: 100% 100%;
}
