<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css"/>
    <title>KSite</title>
</head>
<!--  HEADER  -->
<body>

<div th:if="${findArticle}">

<h2>
    <div th:text="${article.getDescription()}"></div>
</h2>
<div th:utext="${article.getText()}"></div>

    <div>
        Коментарии:
    </div>

    <ul>
        <th:block th:each="comment : ${comments}" class="article">
            <li th:utext="${comment.getComment()}"></li>
        </th:block>
    </ul>

    <form th:action="@{/article}" method="post">

        <div>Комментарий</div>
        <label>
            <input type="text" name="comment"/>
        </label>


        <input type="hidden" name="id" id="id" th:value="${article.getHash()}">

        <input type="submit" value="Отправить" id="editor" class="btn btn-primary submit"/>

    </form>

<div><a href="/article" >Статьи</a></div>
</div>

<div th:if="!${findArticle}">
    Статья не найдена
    <div><a href="/article" >Статьи</a></div>
</div>

</body>
</html>