
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css"/>
    <title>KFSite</title>
</head>
<!--  HEADER  -->
<body>



<form th:action="@{/editor}" method="post">

    <div>Описание</div>
    <label>
        <input type="text" name="description"/>
    </label>
    <div>Статья</div>
    <label>
        <textarea name="text"></textarea>
    </label>

    <input type="submit" value="Отправить" id="editor" class="btn btn-primary submit"/>

</form>

<div>Статьи:</div>

<ul>
    <th:block th:each="article : ${articles}" class="article">
        <li><a th:utext="${article.getDescription()}" th:href="@{'/article?id=' + ${article.getHash()}}"></a></li>
    </th:block>
</ul>

<div><a href="/article" >Статьи</a></div>

</body>
</html>