<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="css/header.css" type="text/css"/>
    <link rel="stylesheet" href="css/main.css" type="text/css"/>
<link href="css/header.css" rel="stylesheet" type="text/css">
<link href="../static/css/header.css" rel="stylesheet" type="text/css">
    <title>KSite</title>

</head>
<body>
<!--  HEADER  -->
<header class="header-box">
    <div class="header-home-item">
        <a title="home" href="/index"><img  src="img/home.png" alt="" class="home-img"></a>
    </div>
    <div class="login-item-box-left ">
        <div class="item-site-name"> Overcoming difficulties</div>
    </div>
	

	
  <div  th:if="!${auth}">
        <div class="login-item-box color-mouse">
            <div class="login-item-login">
                <a href="/login"><img class="Picsize" src="img/user-check.svg" alt=""/></a>
            </div>
        </div>
        <div class="login-item-box color-mouse">
            <div class="login-item-reg">
                <a href="/reg"><img class="Picsize" src="img/user-plus.svg" alt=""/></a>
            </div>
        </div>
    </div>

    <div th:if="${auth}">
      <div class="login-item-box color-mouse">
            <div class="login-item-login">
                <a href="/logout"><img class="Picsize" src="img/user-times.svg" alt=""/></a>
            </div>
        </div>
        
          <div class="login-item-box color-mouse">
            <div class="login-item-reg-plus">
              <a id = "id-name" href="/account" th:text="${user.username}">You`r name</a>
              
            </div>
        </div>
    </div>

</header>
<article id="article">
  <div th:if="${auth}">
    <form th:action="@{/editor}" enctype="multipart/form-data" method="post">
      
      <div>Описание</div>
      <label>
        <input type="text" name="description"/>
        </label>
      <div>Статья</div>
      <label>
        <textarea name="text"></textarea>
        </label>
      <div>
        Иконка
        <div>
          <input type="file" name="file"/>
          </div>
        </div>
      
      
      <input type="submit" value="Отправить" id="editor"/>
      
      </form>
    
    <div>Статьи:</div>
    
    <ul>
      <th:block th:each="article : ${articles}" class="article">
        <li><a th:utext="${article.getDescription()}" th:href="@{'/article?id=' + ${article.getHash()}}"></a></li>
        </th:block>
      </ul>
    
  </div>
</article>
<div><a href="/article">Статьи</a></div>

</body>
</html>