@charset "utf-8";
.dfdf {
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: xx-large;
    margin-top: 51px;
    margin-left: 47px;
}
